@page {
    size: 8.5in 11in;
    margin: 0;
}

body {
    margin: 0;
}

p {
    margin: 0;
    font-size: 14;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.centeredColumn {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.centeredRow {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
}

.image {
    height: auto;
    width: 20vw;
    border-radius: 100%;
}

.icon {
    width: 35;
    margin-right: 8;
}

.leftSide {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    height: 97vh;
    width: 35%;
    padding: 16;
}

.contactInfoItemWrapper {
    margin-top: 8;
    margin-bottom: 8;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
    padding: 16;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 50;
    font-weight: 600;
}

.subTitle {
    font-family: 'Oswald', sans-serif;
    font-size: 28;
    font-weight: 400;
}

.smallTitleWhite {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 25;
    font-weight: 500;
}

.white {
    color: white;
}
